@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

input {
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;

}
label {
    height: auto;
}
.button-section {
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
    border: solid;
    background: black;
    color: white;
    font-size: 1rem;
}
.view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    padding: 1rem;
    margin: 0 auto;
    height: 100vh;
}

.tilte-section {
    font-size: 2rem;
    margin-bottom: 1rem;
}